# Vite
.vite/
.vite-ssg-temp/

# Node.js and npm
node_modules/
package-lock.json
yarn.lock

# IDE and Editor
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Environment Variables
.env
.env.*

# Temporary Files
*.tmp
*.swp
*~

# Build Output
dist/
